@charset "UTF-8";

body {
    background-color: #f2e9e4;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: #22223b;
}

h2 {
    color: #4a4e69;
}

#CSS {
    color: #4f4f8a;
    text-align: center;
}

.basico {
    color: #ac948e;
}

.intermediario {
    color: #8f7e7a;
}

.avancado {
    color: #5f5250;
}

.destaque {
    background-color: #22223b;
}